body {
    background:linear-gradient(200deg,black,black,darkred,red,orangered,yellow);
}

main {
    background: dimgray;
    border: ridge;
    width: 1000px;
    height: 650px;
}

#pick{
    background: rgb(101, 50, 50);
    border: inset;
    border-radius: 5%;
    width: fit-content;
    height: fit-content;
    font-size: 300%;
    position: relative;
    left: 300px;
    top: 10px;
}

#player-chart{
    background: darkslategray;
    border: inset;
    border-color: rgb(32, 54, 54);
    width: 550px;
    height: 550px;
    position: relative;
    left: 20px;
    top: 20px;
}

#red{
    background: rgb(248, 248, 255, 0.5);
    border: inset;
    border-color: rgba(255, 0, 0);
    border-radius: 5%;
    width: 250px;
    height: 250px;
    position: relative;
    left: 10px;
    top: 15px;
    font-size: 300%;
    color: darkred;
}
#redP{
    background: rgba(255, 0, 0, 0.3);
    border: red groove;
    box-shadow: 0px 0px 5px red, 0px 0px 5px red inset;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#aqua{
    background: rgb(248, 248, 255, 0.5);
    border: inset;
    border-color: rgba(0, 255, 255);
    border-radius: 5%;
    width: 250px;
    height: 250px;
    position: relative;
    left: 10px;
    top: 20px;
    font-size: 300%;
    color: darkcyan;
}
#aquaP{
    background: rgba(0, 255, 255, 0.3);
    border: aqua groove;
    box-shadow: 0px 0px 5px aqua, 0px 0px 5px aqua inset;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#green{
    background: rgb(248, 248, 255, 0.5);
    border: inset;
    border-color: rgba(0, 128, 0);
    border-radius: 5%;
    width: 250px;
    height: 250px;
    position: relative;
    left: 270px;
    top: -497px;
    font-size: 300%;
    color: darkgreen;
}
#greenP{
    background: rgba(0, 128, 0, 0.3);
    border: green groove;
    box-shadow: 0px 0px 5px green, 0px 0px 5px green inset;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#purple{
    background: rgb(248, 248, 255, 0.5);
    border: inset;
    border-color: rgba(128, 0, 128);
    border-radius: 5%;
    width: 250px;
    height: 250px;
    position: relative;
    left: 270px;
    top: -492px;
    font-size: 300%;
    color: darkmagenta;
}
#purpleP{
    background: rgba(128, 0, 128, 0.3);
    border: purple groove;
    box-shadow: 0px 0px 5px purple, 0px 0px 5px purple inset;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#info{
    background: lightgrey;
    border: inset;
    width: 250px;
    height: 550px;
    position: absolute;
    left: 600px;
    top: 95px;
}