body {
    background: black;
}

#board {
    background: rgb(10, 18, 18);
    border: dimgray ridge;
    box-shadow: 0px 0px 20px ghostwhite inset;
    width: 1200px;
    height: 650px;
    position: relative;
}

#player {
    background-color: rgba(248, 248, 255, 0.4);
    border: ghostwhite inset;
    box-shadow: 0px 0px 10px ghostwhite, 0px 0px 5px ghostwhite inset;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 100px;
    top: 300px;
}

#HUD-Bar {
    background: dimgray;
    box-shadow: 0px 0px 10px black inset;
    width: 550px;
    height: 75px;

}

#HP {
    background: ghostwhite;
    border: ghostwhite inset;
    transform: skewX(20deg);
    box-shadow: 0px 0px 10px ghostwhite, 0px 0px 10px black inset;
    width: 500px;
    height: 50px;
    position: relative;
    left: 25px;
    top: 10px;
}

#shield {
    background: rgba(0, 255, 251, 0.4);
    border: rgba(0, 255, 251, 0.4) inset;
    /*transform: skewX(20deg);*/
    box-shadow: 0px 0px 10px rgba(0, 255, 251, 0.362), 0px 0px 10px ghostwhite inset;
    width: 250px;
    height: 50px;
    position: relative;
    left: -2px;
    top: -3px;
}

#BOSS {
    background-color: rgba(28, 30, 169, 0.45);
    border: darkblue inset;
    box-shadow: 0px 0px 20px darkblue, 0px 0px 10px darkblue inset;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1000px;
    top: 300px;
}

#bossHP-bar {
    background: dimgray;
    box-shadow: 0px 0px 10px black inset;
    width: 1050px;
    height: 75px;
}

#bossHP {
    background: crimson;
    border: crimson inset;
    transform: skewX(20deg);
    box-shadow: 0px 0px 10px crimson, 0px 0px 10px black inset;
    width: 1000px;
    height: 50px;
    position: relative;
    left: 25px;
    top: 10px;
}

#powerCD {
    background-color: dimgray;
    width: 135px;
    height: 250px;
    position: relative;
    left: 1220px;
    top: -610px;

}