body{
    background: black;
}

#content{
    background: rgb(44, 44, 44);
    border-top: 10px ridge darkblue;
    width: 1000px;
    height: 400px;
    margin-left: 150px;

}

#title{
 margin-left: 200px;
 width: 450px;
 height: 150px;
    
}

.text{
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 0px 10px black inset;
    border-radius: 10%;
    padding-left: 10px;
    margin: 10px;
    font-size: xx-large;
    color: ghostwhite;
    width: 200px;
    height: fit-content;
}