/* all app specific css rules listed here */
body {
    margin: 0;
}

#canvas {
    background: linear-gradient(120deg, black, rgb(36, 0, 61), rgb(0, 0, 66), black);
    box-shadow: 0px 0px 50px 5px black inset;

}

#shotgun {
    background-color: #ff8c00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: 400px;
}