#allbody {
    background: rgb(255, 129, 33);
}

#allcon {

    display: flex;
}

#main {
    background: rgb(48, 48, 48);
    border: inset;
    display: flex;

}

.allpu {
    background: rgb(100, 100, 100);
    display: inline-block;
    border: inset;
    width: 90px;
    font: bold;

}



#side {
    margin-right: 250px;
}

#points {
    background: rgb(65, 65, 66);
    border: inset;
    height: 50px;
    width: 300px;
    position: relative;
    font-size: 50px;

}

#button {
    background: rgb(161, 0, 0);
    height: 200px;
    width: 200px;
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 300px;

}