body {
    background: darkcyan;
}

#board {
    background: azure;
    width: 600px;
    height: 600px;
    position: relative;
}

#tester {
    background: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    position: absolute;
}

.tail {
    background: rgb(0, 0, 255);
    width: 20px;
    height: 20px;
    position: absolute;
}