body {
  background-color: rgb(0, 36, 69);
}

#info {
  background: rgb(215, 215, 215);
  width: 400px;
  height: 400px;
  position: absolute;
  left: 700px;
}

#W {
  background: rgb(136, 195, 253);
  width: 100px;

}

#R {
  background: rgb(255, 118, 113);
  width: 100px;

}

#GO {
  color: crimson;
  position: absolute;
  left: 250px;
  top: 300px;
}




#board {
  width: 650px;
  height: 650px;
  border: 1px ridge white;
  background-color: black;
  position: relative;
}

#walker {
  background: linear-gradient(45deg, rgb(0, 255, 123), rgb(0, 213, 255));
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  left: 100px;
  top: 100px;
}

#runner {
  background: linear-gradient(45deg, rgb(255, 140, 0) 10%, rgb(230, 0, 0));
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  left: 550px;
  top: 550px;
}