body {
    background: black;

}

#board {
    background: gray;
    width: 1000px;
    height: 650px;
    position: relative;
}

#playerHp {
    background: crimson;
    width: 200px;
    height: 50px;
    font-size: 300%;
    transform: skewX(-10deg);
}

#bcd {
    background: rgb(182, 99, 16);
    transform: skewX(-10deg);
    width: fit-content;
    height: 50px;
    font-size: 300%;

}

#dcd {
    background: rgb(16, 77, 182);
    width: fit-content;
    height: 50px;
    font-size: 300%;
    transform: skewX(-10deg);
}

#Hcd {
    background: rgb(88, 1, 1);
    width: fit-content;
    height: 50px;
    font-size: 300%;
    transform: skewX(-10deg);
}

#ucd {
    background: rgb(16, 182, 163);
    width: fit-content;
    height: 50px;
    font-size: 300%;
    transform: skewX(-10deg);
}

#powerUp {
    background: rgb(255, 213, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 580px;
}

#jumper {
    background: rgb(20, 173, 220);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 390px;
}

#blast {
    background: rgba(16, 182, 152, 0.165);
    background-image: url(boss-images/blast.png);
    background-position: center;
    background-size: 500px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 390px;
}

#block {
    background: rgba(2, 175, 210, 0.2);
    background-image: url(boss-images/shield.png);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 390px;
}

#HFH {
    background: rgba(88, 1, 1, 0.633);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 390px;
}

#ult {
    background: rgba(16, 182, 163, 0.8);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 390px;
}


#boss {
    background: darkblue;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 900px;
    top: 360;
    color: azure;
    font-size: 250%;
    text-align: center;
}

#dieWin {
    background: linear-gradient(black, dimgray, gray);
    width: fit-content;
    height: fit-content;
    color: crimson;
    font-size: 500%;
    position: absolute;
    left: 300px;

}

#pause {
    color: azure;
    font-size: 200%;
}