body{
    background: black;

}

#board{
    background: gray;
    width: 1000px;
    height: 800px;
    position: relative;
}

#jumper{
    background: crimson;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 390px;
}

#boss{
    background: darkblue;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 900px;
    top: 360;
}

