body{
    background: darkslategray;
}

#board{
    background: black;
    width: 1000px;
    height: 800px;
}

#box{
    background: gray;
    border: 5px ridge gray;
    width: 100px;
    height: 100px;
    position: relative;
    animation: colour 5s infinite;
    
}

@keyframes colour {
    0%{background: crimson;}
    25%{background: aqua;}
    50%{background: lawngreen;}
    75%{background: mediumblue;}
    100%{background: crimson;}
    
}