#body {
  background-color: rgb(0, 0, 0);
  height: 900px;
}

/*linear-gradient(122deg, rgb(255, 0, 0) , rgb(166, 0, 255), rgb(0, 255, 179), rgb(255, 191, 0))*/
#nav {
  background: linear-gradient(170deg, rgb(0, 0, 0), dimgray);
  height: 50px;
}

#con {
  background: linear-gradient(rgb(255, 255, 255), rgb(120, 120, 120));
  height: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 300%;
  align-content: center;

}

#box {
  background: crimson;
  font-size: 300%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 200px;
  animation: no 5s infinite;

}

@keyframes no {
  0% {
    left: 12px;
    top: 500px;
    background: red;
    rotate: 45deg;
  }

  25% {
    left: 805px;
    top: 180px;
    background: darkslategray;
    rotate: 180deg;
  }

  50% {
    left: 404px;
    top: 502px;
    background: springgreen;
    rotate: 135deg;
  }

  75% {
    left: 200px;
    top: 38px;
    background: mediumvioletred;
    rotate: 225deg;
  }

  100% {
    left: 12px;
    top: 500px;
    background: red;
    rotate: 290deg;
  }

}