body {
  background-color: rgb(60, 1, 2);
}

#board {
  width: 800px;
  height: 450px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#pointL {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 350px;
  font-size: 300%;
  text-align: center;
}

#pointR {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 400px;
  font-size: 300%;
  text-align: center;
}

#ball {
  background-color: rgb(230, 180, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 375px;
  top: 180px;

}

#pad1 {
  background-color: rgb(0, 93, 168);
  border: inset;
  border-radius: 20%;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 15px;
  top: 150px;
}

#pad2 {
  background-color: rgb(224, 45, 0);
  border: inset;
  border-radius: 20%;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 760px;
  top: 150px;

}

.goal {
  background-color: rgb(6, 198, 76);
  width: 10px;
  height: 450px;
  position: absolute;

}


#g2 {
  left: 790px;

}