body {
  background-color: rgb(60, 1, 2);
}

#board {
  width: 1000px;
  height: 450px;
  border: 5px outset white;
  background-color: black;
  position: relative;
}

#win {
  background: rgb(113, 113, 113);
  border: ridge;
  border-radius: 25%;
  width: 400px;
  height: 200px;
  text-align: center;
  font-size: 300%;
  position: absolute;
  left: 285px;
}

#pointL {
  background-color: rgb(255, 255, 255);
  border: inset;
  border-color: rgb(0, 93, 168);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 305px;
  font-size: 300%;
  text-align: center;
}

#pointR {
  background-color: rgb(255, 255, 255);
  border: inset;
  border-color: rgb(224, 45, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 615px;
  font-size: 300%;
  text-align: center;
}

#ball {
  background-color: rgb(230, 180, 0);
  border: inset;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 375px;
  top: 180px;

}

#pad1 {
  background-color: rgb(0, 93, 168);
  border: inset;
  border-radius: 20%;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 15px;
  top: 150px;
}

#pad2 {
  background-color: rgb(224, 45, 0);
  border: inset;
  border-radius: 20%;
  width: 20px;
  height: 100px;
  position: absolute;
  left: 960px;
  top: 150px;

}

#boost1 {
  background: white;
  border: inset;
  border-color: rgb(0, 93, 168);
  border-radius: 10%;
  width: 10px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 205px;

}

#boost2 {
  background: white;
  border: inset;
  border-color: rgb(224, 45, 0);
  border-radius: 10%;
  width: 10px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 750px;

}

.goal {
  background-color: rgb(6, 198, 76);
  width: 10px;
  height: 450px;
  position: absolute;

}


#g2 {
  left: 990px;

}

#info {
  background: rgb(200, 200, 181);
  border: outset;
  margin-top: 10px;
  margin-left: 250px;
  width: fit-content;
  text-align: center;

}

#clrbld {
  background: rgb(113, 113, 113);
  width: 170px;
  height: auto;
  border: outset;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 5px;
  position: absolute;
  top: 500px;
}

.allclrbut {
  background-color: white;

}