body {
    background: dimgray;
}

#head {
    background: rgb(149, 109, 7);
    width: 550px;
    height: 550px;

}

#mouth {
    background-color: darkred;
    box-shadow: 0px 0px 10px 0px black inset;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 10%;
    width: 300px;
    height: 75px;
    position: absolute;
    left: 125px;
    top: 400px;

}

#browL {
    background: black;
    border-radius: 10%;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 50px;
    top: 100px;

}

#browR {
    background: black;
    border-radius: 10%;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 300px;
    top: 100px;

}

#eyeL {
    background: ghostwhite;
    box-shadow: 0px 5px 20px 5px black inset;
    border-radius: 5%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 100px;
    top: 150px;

}

#eyeR {
    background: ghostwhite;
    box-shadow: 0px 5px 20px 5px black inset;
    border-radius: 5%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 300px;
    top: 150px;

}

#pupilL {
    background: black;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;

}

#pupilR {
    background: red;
    border-radius: 10%;
    box-shadow: 0px 0px 20px 5px red;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    animation: changecolor 2s infinite;

}

@keyframes changecolor {
    0% {
        background: red;
        box-shadow: 0px 0px 20px 5px red;
    }

    10% {
        background: orange;
        box-shadow: 0px 0px 20px 5px orange;
    }

    20% {
        background: yellow;
        box-shadow: 0px 0px 20px 5px yellow;
    }

    30% {
        background: green;
        box-shadow: 0px 0px 20px 5px green;
    }

    40% {
        background: blue;
        box-shadow: 0px 0px 20px 5px blue;
    }

    50% {
        background: indigo;
        box-shadow: 0px 0px 20px 5px indigo;
    }

    60% {
        background: magenta;
        box-shadow: 0px 0px 20px 5px magenta;
    }

    70% {
        background: indigo;
        box-shadow: 0px 0px 20px 5px indigo;
    }

    80% {
        background: blue;
        box-shadow: 0px 0px 20px 5px blue;
    }

    85% {
        background: green;
        box-shadow: 0px 0px 20px 5px green;
    }

    90% {
        background: yellow;
        box-shadow: 0px 0px 20px 5px yellow;
    }

    95% {
        background: orange;
        box-shadow: 0px 0px 20px 5px orange;
    }

    100% {
        background: red;
        box-shadow: 0px 0px 20px 5px red;
    }
}

#panal {
    background-color: darkslategray;
    border: 2px inset rgb(13, 39, 39);
    border-radius: 5%;
    width: 500px;
    height: 250px;
    padding: 15px;
    position: absolute;
    left: 600px;
    top: 50px;
}

#follow {
    background-color: red;
    box-shadow: -2px 3px 3px 0px black;
    border: 2px inset dimgray;
    border-radius: 10%;
    width: 100px;
    height: 50px;


}

#sync {
    background-color: red;
    box-shadow: -2px 3px 3px 0px black;
    border: 2px inset dimgrey;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin-top: 8px;

}

#angry {
    background-color: red;
    box-shadow: -2px 3px 3px 0px black;
    border: 2px inset dimgrey;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin-top: 8px;

}

#sad {
    background-color: red;
    box-shadow: -2px 3px 3px 0px black;
    border: 2px inset dimgrey;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    margin-top: 8px;

}